<!Doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">

<h2>All Employees</h2>
<br>
<style>table th, table td{padding: 5px}</style>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Operation</th>
    </tr>
    <tr th:each="emp : ${allEmps}" >
        <td th:utext="${emp.name}"></td>
        <td th:utext="${emp.surname}"></td>
        <td th:utext="${emp.department}"></td>
        <td th:utext="${emp.salary}"></td>
        <td>
            <a th:href="@{'/updateInfo/' + ${emp.id}}"  th:text="Изменить"/>
            <a th:href="@{'/deleteEmployee/' + ${emp.id}}"  th:text="Удалить"/>
        </td>
    </tr>
</table>
<br>
<input type="button" value="ADD NEW USER"
       onclick="window.location.href = 'addNewEmployee'"/>

</body>
</html>