<!Doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Employees Info</h2>
<br>

<form th:action="@{/saveEmployee}" th:object="${employee}" method="post">
    <input hidden th:field="*{id}">
    <label>Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <br><br>
    <label>Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
    <br><br>
    <label>Department</label>
    <input type="text" th:field="*{department}" id="department" placeholder="department">
    <br><br>
    <label>Salary</label>
    <input type="text" th:field="*{salary}" id="salary" placeholder="salary">
    <br><br>
    <input type="submit" value="OK">
</form>
</body>
</html>